.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes zz-bottom-talk {
  from {
    bottom: -13px;
  }
  10% {
    bottom: 0;
  }
  20% {
      bottom: -14px;
  }
30% {
      bottom: 0;
  }
40% {
      bottom: -12px;
  }
50% {
      bottom: 0;
  }
60% {
      bottom: -13px;
  }
70% {
      bottom: 0;
  }
80% {
      bottom: -12px;
  }
90% {
      bottom: 0;
  }
100% {
      bottom: -13px;
  }
}

@keyframes zz-button-move {
  from {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(2deg);
  }
  40% {
      transform: rotate(0deg);
  }
  60% {
      transform: rotate(-2deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.ZZ-Button {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.zz-bottom {
  position: relative;
  bottom: 0;
  animation: zz-bottom-talk infinite 1s;
}

.ZZ-Button-move {
  animation: zz-button-move infinite .2s;
}
